<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать ребенка</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="childname" placeholder="Введите имя ребенка">
        <input type="text" name="lastname" placeholder="Введите фамилию ребенка">
        <input type="number" name="age" placeholder="Введите возраст ребенка">

        <select name="name">
            {% for i in parent %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Создать ребенка</button>
    </form>
</body>
</html>