<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Parent</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Введите имя родителя">
        <input type="text" name="lastname" placeholder="Введите фамилию родителя">
        <input type="number" name="age" placeholder="Введите возраст родителя">

        <button type="submit">Создать родителя</button>
    </form>
</body>
</html>